body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 35%;
    border-radius: 20px;
}
@media screen and only(max-width: 768px) {
    .imagem{
        width: 100%;
    }
}

    